.title--error {
    text-align: center;
}

.back__index--str {
    text-transform: uppercase;
}
.back--index {
    text-decoration: none;
    color: #fff;
}
.text--error {
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}