// variables 

//Colores
$bg-black:#000;
$bg-dark:#3b3434;
$bg-info:#0097a7; 
$bg-success:#2a9425;
$bg-btn:#ffc107;
$bg-white:#fff;
$bg-service:lightblue;
$opaco: rgba(0, 0, 1, 0.11);
$opaco-light: rgb(0, 0, 0 / 70%);
$corn: cornsilk;

//Fuentes
$font: 'Krub';
// Estilos del NavBar 
$d-flex: flex;
$flex-dir-col: column;

$container: 120rem;
$margin-z: 0 auto;

//Anchos
$w-100: 100%;